@model IEnumerable<LaptopMVC.Models.tb_orderdetail>

@{
    ViewBag.Title = "Danh sách sản phẩm trong đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/homeadmin" class="nav-link">Trang chủ</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/tb_order">Home</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> @ViewBag.Title</h3>

            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        <tr>
                            @foreach (var item in Model)
                            {
                                <td>@i</td>
                                <td>@item.tb_product.title</td>
                                if (item.tb_product.pricesale != 0)
                                {
                                    <td>@item.tb_product.pricesale</td>
                                }
                                else
                                {
                                    <td>@item.tb_product.price</td>
                                }
                                <td>@item.quantity</td>
                                i++;
                            }

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    
                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="/admin/tb_order" class="btn btn-danger">Quay lại</a>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
