@model PagedList.IPagedList<LaptopMVC.Models.tb_news>
@using PagedList.Mvc

@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/homeadmin" class="nav-link">Trang chủ</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý tin tức</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/tb_news">Home</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    @using (Html.BeginForm("Index", "tb_news", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" value="@ViewBag.Keywords" name="searching" placeholder="Name news" />
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th style="width:250px">Tiêu đề</th>
                        <th>Ngày tạo</th>
                        <th>Hiển thị</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td><img src="~/ManagerUploads/@item.images" width="150" /></td>
                                <td> @Html.DisplayFor(modelItem => item.title)</td>
                                <td>@item.createdate.ToShortDateString()</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.isActive)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-primary" })
                                    @Html.ActionLink("Xem", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-danger" })
                                    <a href="@Url.Action("Delete", new { id = item.id })" onclick="return confirm('Bạn có muốn xóa tin tức:{@item.title}?');" class="btn btn-sm btn-default ">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">

                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer" style="text-align:right;">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) - @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>

